@font-face {
  font-family: 'GTWalsheimMedium';
  src: url('/fonts/GTWalsheimMedium.otf'); 
 }

 @font-face {
  font-family: 'GTWalsheimRegular';
  src: url('/fonts/GTWalsheimRegular.otf'); 
 }

 @font-face {
  font-family: 'GTWalsheimBold';
  src: url('/fonts/GTWalsheimBold.otf'); 
 }

 @font-face {
  font-family: 'GTWalsheimBlack';
  src: url('/fonts/GTWalsheimBlack.otf'); 
 }

html,
body {
  padding: 0;
  margin: 0;
  overflow: scroll;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color:black;
    background: white ;
  }
}
